body {
    background-color: rgba(126, 228, 246, 0.87);
}

h3 {
    color:black;
    align-items: center;
    justify-content: center;
    font-family: Calibri light, sans-serif;
}

#container {
    display: flex;
}

#div_contador {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 50vh;
    margin: 5em auto 0 20em;
}

.box_interior {
    display: inline-flex;
    justify-content: center;
    background-color: rgba(59, 191, 214, 0.856);
    width: 70px;
    height: 70px;
    border-radius: 3px;
    margin: 12px;
    
}

.box_exterior {
    float: center;
    justify-content: center;
    background-color: rgba(59, 191, 214, 0.39);
    width: 100px;
    height: 115px;
    border-radius: 3px;
    margin: 10px;

}

.texto_pequeno {
    font-family: Helvetica, sans-serif;
    margin-top: 0;
    text-align: center;
}

.espacamento_entre_input_coluna_esquerda {
    margin: 20px;
}

.btn {
    position: flex;
    height: 50%;
    width: 50%;

}


.controle_label {
    color:#666;
}


